<div class="form_for">
  <%= form_for(medicamento) do |f| %>
    <% if medicamento.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(medicamento.errors.count, "error") %> prohibited this medicamento from being saved:</h2>

        <ul>
        <% medicamento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :nome %>
      <%= f.text_field :nome %>
    </div>

    <div class="field">
      <%= f.label :estoque %>
      <%= f.number_field :estoque %>
    </div>

    <div class="field">
      <%= f.label :validade %>
      <%= f.date_select :validade %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>