<div class="page-header">
	<h4>Aumentar o estoque do medicamento: <br /><%= @medicamento.nome -%> (<%= @medicamento.estoque -%>)</h4>
</div>


<%= form_tag grava_aumento_estoque_medicamento_path(@medicamento), :class => "form-vertical", method: :patch do %>
	<label for="">
		Quantidade Adicional: 
	</label>
	<%= text_field_tag :add_estoque, 0, class: 'form-control', type: :number -%>
	<hr>
	<%= submit_tag 'Arrocha!', class: 'btn btn-primary' -%>
<% end -%>