<%- model_class = Medicamento -%>
<div class="page-header">
  <%= link_to t('.new', :default => t("helpers.links.new")), new_medicamento_path, :class => 'btn green right white-text text-darken-2'%>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:nome) %></th>
      <th><%= model_class.human_attribute_name(:estoque) %></th>
      <th><%= model_class.human_attribute_name(:validade) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @medicamentos.each do |medicamento| %>
      <tr>
        <td><%= link_to medicamento.id, medicamento_path(medicamento) %></td>
        <td><%= medicamento.nome %></td>
        <td><%= medicamento.estoque %></td>
        <td><%=l medicamento.validade %></td>
        <td>
          <%= link_to "+", aumentar_estoque_medicamento_path(medicamento), class: 'btn-floating white blue-text text-darken-2' do %> <i class="material-icons">add</i> <% end %>

          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_medicamento_path(medicamento), :class => 'btn-floating white blue-text text-darken-2' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      medicamento_path(medicamento),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Tem certeza?')) },
                      :class => 'btn-floating white blue-text text-darken-2' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

