<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @medicamento.nome %>
</p>

<p>
  <strong>Estoque:</strong>
  <%= @medicamento.estoque %>
</p>

<p>
  <strong>Validade:</strong>
  <%= @medicamento.validade %>
</p>

<%= link_to 'Edit', edit_medicamento_path(@medicamento) %> |
<%= link_to 'Back', medicamentos_path %>
