<%= simple_form_for @medicamento, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :nome %>
  <%= error_span(@medicamento[:nome]) %>
  <%= f.input :estoque %>
  <%= error_span(@medicamento[:estoque]) %>
  <%= f.input :validade %>
  <%= error_span(@medicamento[:validade]) %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                medicamentos_path, :class => 'btn btn-default' %>
<% end %>
